@using Top2000.Features.TrackInformation
@inject Top2000Services Top2000Services

@if (Track is null)
{
    <p>Loading…</p>
}
else
{
    <h2>@Track.Title</h2>
    <p><strong>Artist:</strong> @Track.Artist</p>
    <p><strong>Rank:</strong> #@Track.Listings.Last().Position</p>
}

@code {
    [Parameter] public int Year { get; set; }
    [Parameter] public int TrackNumber { get; set; }

    TrackDetails? Track { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Track = await Top2000Services.TrackDetailsAsync(TrackNumber);
    }
}