@using Top2000.BlazorApp.Services
@inject TrackService TrackService

@if (TrackService.IsBackgroundLoading)
{
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <div class="spinner-border spinner-border-sm me-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div>
            Loading additional editions in background... 
        </div>
    </div>
}

@code {
    
}
